#kaocha/v1
{:tests [{:id          :unit
          :test-paths  ["test"]
          :ns-patterns [".*-test$"]}

         {:id          :integration
          :test-paths  ["test"]
          :focus-meta  [:integration]}]

 :plugins [:kaocha.plugin/filter]}
